cython>=0.21.1
ftfy>=6.0.0,<7.0.0
lxml>=4.6.3,<5.0.0
numpy>=1.19.5
scikit-learn>=0.22.0
scipy>=0.17.0
sklearn-crfsuite==0.3.6
dateparser==1.0.0
joblib>=1.0.1,<2.0.0
catboost>=0.26.1
beautifulsoup4==4.9.3
courlan>=0.4.2
htmldate>=0.9.1